body {
  background-image: url('./assets/bonfire.jpg');
  background-repeat: no-repeat;
  background-size: 1250px;
  background-color: #251b1b;
  color: var(--tertiary);
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

img {
  filter: sepia(100%);
  width: 15%;
  border-radius: 20%;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

nav  li {
  cursor: pointer;
  font-weight: bold;
}

nav li:hover {
  text-decoration: underline;
}

li {
  font-size: 20px;
  list-style: none;
  padding-top: 10px;
}

.navActive {
  color: var(--tertiary);
}

p {
  width: 20rem;
  margin-right: 10rem;
  font-size: 17px;
  color: var(--secondary);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}